@media screen and (min-width:320px){

}

.main{
    display: flex;
    flex-direction: column;

}
body{
    color: black;
    text-align: center;
}
h1{
    text-align: center;
}
.alert-info a{
    display: block;
    background-color: lightcyan;
    padding: 2em;
    border: 1px solid gray;

}
.nav-links {

    list-style: none;
}
.nav-links a{
    display: block;
    background-color: lightgray;
    padding: 2em;
    margin: 10px;

}
img{
    width: 100%;
}


.sub-section {
    font-style: italic;
    text-align: start;
}
footer {
   margin-right: 1150px;
    white-space: nowrap;
}

